In [100]:
import pandas as pd
import numpy as np
import gensim
from zipfile import ZipFile 
from gensim.models import Word2Vec
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.cluster import KMeans,DBSCAN, SpectralClustering, AgglomerativeClustering
from sklearn.metrics import silhouette_score
from  sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt

In [101]:
file = "data.zip"
  
# ouvrir le fichier zip en mode lecture
with ZipFile(file, 'r') as zip: 
    # extraire tous les fichiers vers un autre répertoire
    zip.extractall('data')

In [102]:
df_tweets = pd.read_csv('data/out.csv')
df_tweets

,lang,possibly_sensitive,text,created_at,label
0,en,False,package would cost problably ukraine gdp,2023-01-15 21:01:27,0
1,en,False,rt syrian solidarity ukrainians strong horrid ...,2023-01-15 21:01:27,-1
2,fr,False,rt apoth ose guerre tableau peintre russe vass...,2023-01-15 21:01:27,0
3,en,False,ukrainians dying far greater numbers fantasy i...,2023-01-15 21:01:27,1
4,en,False,rt death toll jan russian cruise missile strik...,2023-01-15 21:01:27,-1
...,...,...,...,...,...
908,en,False,rt russian troops makiivka party new years eve...,2023-01-15 20:59:11,1
909,en,False,rt polish pm morawiecki traveling berlin tomor...,2023-01-15 20:59:11,1
910,en,False,done nothing russia would taken ukraine days w...,2023-01-15 20:59:11,1
911,en,False,rt sleepy joe japanese prime minister fumio ki...,2023-01-15 20:59:11,0
912,en,False,rt sending tanks ukraine polish man stopped jo...,2023-01-15 20:59:11,-1

In [103]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913 entries, 0 to 912
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lang                913 non-null    object
 1   possibly_sensitive  913 non-null    bool
 2   text                911 non-null    object
 3   created_at          913 non-null    object
 4   label               913 non-null    int64
dtypes: bool(1), int64(1), object(3)
memory usage: 29.5+ KB

In [104]:
X= df_tweets['text']
count_vect = CountVectorizer()
tfidf_transformer = TfidfTransformer()

In [105]:
X_train_counts = count_vect.fit_transform(X.values.astype('U'))
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts).todense()

In [106]:
# Using DBSCAN
dbscan_est = DBSCAN(eps=0.5, min_samples=2)
dbscan_est.fit_predict(np.asarray(X_train_tfidf))
#Storing the labels formed by the DBSCAN
labels = dbscan_est.labels_
#Calculating "the number of clusters"
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
print("Number of clusters obtained using DBSCAN:",n_clusters_)

Number of clusters obtained using DBSCAN: 103

In [107]:
#Computing "the Silhouette Score"
print("Silhouette Coefficient: %0.3f"
      % silhouette_score(np.asarray(X_train_tfidf), labels))

Silhouette Coefficient: 0.433

In [108]:
# Using K-means with n_clusters equal to the number of clusters found by the algorithm DBSCAN
K = 245
kmeans_est = KMeans(n_clusters=K, random_state=0)
kmeans_est.fit_predict(np.asarray(X_train_tfidf))

C:\Users\chaima\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\chaima\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(

array([ 36,  37,  98, 238,  10, 132, 150, 147,  24,   1,  70,   2,  93,
       142,  11,  10, 138, 132,   1,   1,  36, 154, 132,  87,  59, 237,
       240,  72,  73,   4, 100, 136,  69,  72, 132,  43,  45, 162,  13,
       151,  98, 154,  84, 132, 228,   2,  54, 135, 197,  10,  10,  15,
        10,   7, 231, 131,  29,   7, 126, 214,  12, 115,  82,  38,   7,
        28, 240,   4,   5, 232,  32, 143, 201, 132,  24, 171, 117,   1,
       106, 103,  63,   0, 227, 130,  24, 105,  21,  64,  47, 109,  71,
       120, 145,  21,  44, 122, 191, 207,  41,   5, 116,  41,  44,  21,
       235,  95, 132,  31,  76, 132,  20,   4, 162, 174, 223, 165, 165,
        10, 172,  38, 143,   5,  60,   2,   5, 212, 235,   0,   5,  42,
        65, 165, 145, 240, 139, 114, 118,  92,   9, 230,   0, 142, 132,
        21, 167, 244, 241, 126,  70, 142,  24, 240,  10,  59, 125, 121,
       197, 145, 187, 143, 106,  13,  74, 240,   4,  29, 232,  11,  72,
         2,  66,  93, 124,  40,  18, 222,  77, 211, 135,   0,   6,  45,
       221, 227,  57,   7, 160,  13,  58,  61,  42, 116, 126, 103,  48,
       215,  27,  31, 159,  10, 233,   5, 162,  86,  65, 140,   1, 222,
        25,  46,  29,   7,  63, 115, 152,  59,  27, 241, 124, 173, 234,
       102, 111,  89,   7,  39,  25,  15,  16,  43,   1, 185,  47,  21,
       176,   5,  37,  69,  50,  48, 132, 212,  84, 240, 191,  74,  46,
       132,  20,  16, 108,   5, 191, 133,   8,  20, 109,   4, 127,   5,
        27, 191, 144,   3,   7, 160, 213, 112,  61,  13,   1,  29,  63,
        90, 132,  96, 178,  27,  32, 166, 178, 163, 132, 143,  73, 216,
        29,  31,   7,  42,  43,  11,   0,  74, 126, 227,  34,  46,   1,
       154,  89, 143,  79, 204,  86,  75,   5, 202, 190, 242,  28,   2,
       173,  85,  68, 136,  47,   7, 132, 170, 103,  10,  46,  91,  16,
        93,   7, 240, 207, 115, 118, 189,   7,  65, 217, 114,  62,  46,
         5,  39, 153,  61,  21, 188, 225,  54,   6,   1,  10, 184,  24,
        68, 107, 132,  59, 100,  64, 161, 187, 234,  59, 123, 106, 157,
       220, 155,  76, 204,  80,  33,   9,  81,   5,   4,  16,  55,  39,
       112, 105, 174, 201,  16,   6, 159, 189, 143,  51,  24,  33, 130,
       183, 193, 180,  13,   8, 191,  59,   6,   6,   4, 122,  81, 178,
       235,  40,  98, 217,  83, 233,  39,  46, 156,  13,  76, 176,  72,
       230, 225,  18,  45,  11, 109,  11, 111,  18, 177,  26,  47, 191,
        17, 147, 150,   5,  92, 142,  63,  46,   5, 184, 128, 243,  62,
        41,  35, 229,  55, 164, 115, 143, 228,   0,  63, 219,  16, 172,
        53, 134,  27,  56,  41,  12, 198, 195,  16,  13, 132,  11,  54,
       112,  14,   2, 224,  24, 110,   1,  51, 131,  62,   1,  10, 126,
        83,   1, 181,  87,  53,  42, 136,  54,  75,  97, 148, 142, 112,
        49,  46,  40,   1,   6,  99, 142, 117,  36,  36,   1,  51,  89,
       134,   5,  94, 132, 220, 153,  16,  25, 191, 168,  86,  11, 123,
       226,  66,  84,  36, 163, 182,  50, 235,  26, 169,  94,   6,  68,
        95,  30,  13,  41,  11, 155, 115,  94, 129,   0,   0, 234, 236,
       149,  97, 189,  32,   7,   0,  10,  60, 146,  89,  34, 135,  21,
       172, 172,  13, 191, 184, 190,   1,   7,  64,  16, 155,   8,  19,
       126,  88,  87, 152,  16,  12,  98,  63, 200,  26, 156,  42,  82,
       130, 177,  92,  34, 126,  70, 126, 113,  98, 138,  74, 149,  11,
         1, 202,  55, 208, 203, 163,  32, 186,  13,  57, 209, 211, 126,
       244,   6,  97, 242, 116,  12,  79, 233,  44,  27,  50,  30,  88,
       121, 103,   5,  36,   6,   8,  72, 175,  40, 107,   0,   1, 143,
       122,  13, 157, 196,   1, 184,  99,  45,   1, 191, 233,  22, 142,
        44, 146, 107, 132,  12, 201, 132, 140,   7,   4,  13,  23,  13,
        13,  71, 191,  42,  86,  96, 242,  95, 179, 193, 128,   1,   5,
         7,  57, 151,  58, 104,   1, 103,  66, 206, 122,  10,   0, 240,
       132, 132,   1,  21,  44,  20,   5, 141,   5,  36,  12,   5,  12,
        97,  85, 201,   7, 135,  38, 120,  54,  83,  22,   7, 132, 101,
       101, 100, 191, 143,   6,  66,  97, 120,  65, 165, 100, 102,  37,
       205, 101,  20,  77,  72, 188, 233, 161, 168,  80, 109,  26, 121,
        75, 130, 126, 172, 149,  91, 210,   8,   1,  22, 242,  19,  56,
       121,   1,  67, 142,   0,  91, 199, 121, 170, 171, 108,  30,  71,
        60, 216, 100, 167,  42,  20, 144,  13, 205, 196, 119, 198, 191,
        89,  32,  40,  21,  53, 213, 148, 100, 137, 132, 124, 194, 153,
        44,  14, 240, 215, 142,  21,  22,  74, 132, 116, 201,  58, 110,
         5,  26, 112,  71, 148,  35, 182,   6,  18,   1,  46,   5,   6,
       218,  64, 242,  62,  13,   0,  58, 220, 243,  68,  83, 190,  24,
         1,   7,  75,  94, 192,  78,   7,  22, 164,  20,  21,   8,  44,
        22, 115, 153,   1,  15,  80,  18,  12,   7,   6,  78, 108, 151,
       239,  55,   7,  82, 126, 148,  65,  49,  88,  40,  87, 119, 201,
         7,  99,   0,  79,   8,   4, 140,  11,  47,  64,  11,  87,  52,
        40, 111,  38,  42, 129,  77,   5, 159,  12,  98, 135, 158, 105,
        93,   7,  13,  93,  93, 113,  27, 192, 229, 189,  28,   4,  20,
        36,  66,  39])

In [110]:
# Calculate Silhoutte Score
score = silhouette_score(np.asarray(X_train_tfidf), kmeans_est.labels_)
print("Silhouette Coeficient", score)

Silhouette Coeficient 0.41412518493501765

In [111]:
# Using Hierarchical clustering
HCA_est = AgglomerativeClustering(n_clusters=K)
HCA_est.fit_predict(np.asarray(X_train_tfidf))
#Computing "the Silhouette Score"
print("Silhouette Coefficient: %0.3f"
      % silhouette_score(np.asarray(X_train_tfidf), HCA_est.labels_))

Silhouette Coefficient: 0.467